HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Compiled Files
*.class

# Logs
*.log

# Java Packages
*.jar
*.war
*.nar
*.ear

# Archives
*.zip
*.tar.gz
*.rar

# JVM Crash Logs
hs_err_pid*
replay_pid*